# Union de las diversas Descargas hechas

Por oprtimizacion se han hecho diversas descargas, algunas de ellas parcialmente superpuestas, por tanto es necesario unirlas y quitar los ids duplicados

In [2]:
import pandas as pd

In [5]:
data1 = pd.read_csv('../00_Datos/Products_v2.csv')
data2 = pd.read_csv('../00_Datos/Products_v3.csv')
data3 = pd.read_csv('../00_Datos/Productos_Finales/126kProducts_20190309.csv' , sep = ';')

C:\Users\Enric\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3020: DtypeWarning: Columns (6,9,12,20) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [6]:
data1.head(2)

,alternative_id,availability_date,badges,brand,category,discount,eci_provider,gtin,id,image,media,name,position,price,quantity,status,store_id,variant
0,A28577025,NaN,['express_delivery'],Roberto Verino,"['Moda', 'Mujer', 'Abrigos']",NaN,00000000,8.433816e+12,1024836201442,http://sgfm.elcorteingles.es/SGFM/dctm/MEDIA03...,{'count': 1},Parka corta de mujer Roberto Verino con estamp...,0.0,"{'final': 220, 'currency': 'EUR'}",1,show_pdp,60,001024836201442038
1,A28577035,NaN,['express_delivery'],Roberto Verino,"['Moda', 'Mujer', 'Abrigos']",NaN,00000000,8.433816e+12,1024837200104,http://sgfm.elcorteingles.es/SGFM/dctm/MEDIA03...,{'count': 1},Parka ligera de mujer Roberto Verino en beige,1.0,"{'final': 220, 'currency': 'EUR'}",1,show_pdp,60,001024837200104038

In [7]:
data2.head(2)

,alternative_id,availability_date,badges,brand,category,discount,eci_provider,gtin,id,image,media,module_name,name,position,price,quantity,status,store_id,variant,vendor
0,A28321178,NaN,[],Jané,"['Bebés', 'Parques']",NaN,00000000,8.420421e+12,001005324103059,http://sgfm.elcorteingles.es/SGFM/dctm/MEDIA03...,{'count': 1},NaN,Parque de viaje Jané Travel Fun Toys verde,0.0,"{'final': 102, 'currency': 'EUR'}",1,add,61,001005324103059,NaN
1,A24406006,NaN,['express_delivery'],Jané,"['Bebés', 'Accesorios para el coche', 'Cinturó...",NaN,00000000,8.420421e+12,001005323002948,http://sgfm.elcorteingles.es/SGFM/dctm/MEDIA03...,{'count': 1},NaN,Cinturón de Seguridad Jané Safe Belt para futu...,1.0,"{'final': 24, 'currency': 'EUR'}",1,add,61,001005323002948,NaN

In [8]:
data3.head(2)

,Unnamed: 0,alternative_id,availability_date,badges,brand,category,discount,eci_provider,gtin,id,...,media,module_name,name,position,price,quantity,status,store_id,variant,vendor
0,0,A28233506,NaN,['express_delivery'],Woman Limited El Corte Inglés,"['Moda', 'Mujer', 'Abrigos']",NaN,00000000,2.401700e+12,1060651400131,...,{'count': 1},NaN,Abrigo masculino con textura de mujer,NaN,"{'final': 199, 'currency': 'EUR'}",1,show_pdp,60,001060651400131002,NaN
1,1,A29054782,NaN,['express_delivery'],Woman Limited El Corte Inglés,"['Moda', 'Mujer', 'Abrigos']",NaN,00000000,2.606514e+12,1060651400180,...,{'count': 1},NaN,Abrigo doble faz de mujer con cinturón a tono,NaN,"{'final': 149, 'currency': 'EUR'}",1,show_pdp,60,001060651400180002,NaN

In [9]:
print (f'Tamaño data1: {data1.shape}, Tamaño data2: {data2.shape}, Tamaño data3: {data3.shape}')

Tamaño data1: (59607, 18), Tamaño data2: (30082, 20), Tamaño data3: (126837, 21)

In [10]:
result = pd.concat([data3, data1, data2])
result.shape

C:\Users\Enric\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  """Entry point for launching an IPython kernel.

(216526, 21)

In [11]:
datos_final = result.drop_duplicates(subset = 'id')
datos_final.shape

(175713, 21)

In [12]:
print (f'Tamaño datos_final: {datos_final.shape}')

Tamaño datos_final: (175713, 21)

In [14]:
datos_final.to_csv('../00_Datos/Productos_Finales/175kProducts_20190311.csv', sep = ';')