In [30]:
import pandas as pd
import ast

pd.set_option('max_colwidth', 250)

In [4]:
data = pd.read_csv('../00_Datos/Productos_Finales/126kProducts_20190309.csv', sep = ';')
data.head(3)

,Unnamed: 0,alternative_id,availability_date,badges,brand,category,discount,eci_provider,gtin,id,...,media,module_name,name,position,price,quantity,status,store_id,variant,vendor
0,0,A28233506,NaN,['express_delivery'],Woman Limited El Corte Inglés,"['Moda', 'Mujer', 'Abrigos']",NaN,00000000,2.401700e+12,1060651400131,...,{'count': 1},NaN,Abrigo masculino con textura de mujer,NaN,"{'final': 199, 'currency': 'EUR'}",1,show_pdp,60,001060651400131002,NaN
1,1,A29054782,NaN,['express_delivery'],Woman Limited El Corte Inglés,"['Moda', 'Mujer', 'Abrigos']",NaN,00000000,2.606514e+12,1060651400180,...,{'count': 1},NaN,Abrigo doble faz de mujer con cinturón a tono,NaN,"{'final': 149, 'currency': 'EUR'}",1,show_pdp,60,001060651400180002,NaN
2,2,A27354432,NaN,['express_delivery'],Woman El Corte Inglés,"['Moda', 'Mujer', 'Abrigos']",NaN,00000000,2.510564e+12,1051056400107,...,{'count': 1},NaN,Abrigo largo de antelina de mujer Woman El Cor...,NaN,"{'final': 89.99, 'currency': 'EUR'}",1,show_pdp,60,001051056400107002,NaN

## Join text

In [74]:
df_text = pd.DataFrame(data['id'])
subset = data[['brand', 'category', 'name']]

### Category

In [75]:
for i, lista in enumerate(subset['category'].values):
    subset['category'].values[i] = ast.literal_eval(lista)
subset['category'] = subset['category'].apply(lambda x: ' '.join(x))
subset.head(3)

C:\Users\Enric\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

,brand,category,name
0,Woman Limited El Corte Inglés,Moda Mujer Abrigos,Abrigo masculino con textura de mujer
1,Woman Limited El Corte Inglés,Moda Mujer Abrigos,Abrigo doble faz de mujer con cinturón a tono
2,Woman El Corte Inglés,Moda Mujer Abrigos,Abrigo largo de antelina de mujer Woman El Corte Inglés

In [76]:
subset.loc[43000]

brand                                                       Freestyle
category    Moda Infantil Bebé Niña (0-36 meses) Pantalones y Leggins
name                     Pack polainas de bebé niña Freestyle en rosa
Name: 43000, dtype: object

### Brand

In [77]:
subset['brand'] = subset['brand'].str.replace(" ","_")
subset.head(3)

C:\Users\Enric\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

,brand,category,name
0,Woman_Limited_El_Corte_Inglés,Moda Mujer Abrigos,Abrigo masculino con textura de mujer
1,Woman_Limited_El_Corte_Inglés,Moda Mujer Abrigos,Abrigo doble faz de mujer con cinturón a tono
2,Woman_El_Corte_Inglés,Moda Mujer Abrigos,Abrigo largo de antelina de mujer Woman El Corte Inglés

### Final Column

In [78]:
df_text['text'] = subset.apply(lambda x: ' '.join(x.dropna().astype(str)), axis = 1)
df_text.head(3)

,id,text
0,1060651400131,Woman_Limited_El_Corte_Inglés Moda Mujer Abrigos Abrigo masculino con textura de mujer
1,1060651400180,Woman_Limited_El_Corte_Inglés Moda Mujer Abrigos Abrigo doble faz de mujer con cinturón a tono
2,1051056400107,Woman_El_Corte_Inglés Moda Mujer Abrigos Abrigo largo de antelina de mujer Woman El Corte Inglés

In [79]:
df_text.to_csv('Descripciones126k_20190309.csv', sep = ';', index=False)