# Data Filtered

In this notebook I generate the final csv in which i select the columns that I want to keep and drop the ones I don´t

In [16]:
import pandas as pd
import os

In [17]:
path_input = os.path.join('../Data/')
path_output = os.path.join('../Data/FinalItems/')

In [18]:
print(os.listdir(path_input + 'FinalItems/'))

['data_filtered.csv']

In [19]:
data = pd.read_csv(path_input + '/204kProducts.csv', sep = ';')
data.columns

C:\Users\enric\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3049: DtypeWarning: Columns (5,8,11,18,19) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

Index(['alternative_id', 'availability_date', 'badges', 'brand', 'category',
       'discount', 'eci_provider', 'gtin', 'id', 'image', 'media',
       'module_name', 'name', 'position', 'price', 'quantity', 'status',
       'store_id', 'variant', 'vendor'],
      dtype='object')

In [20]:
data.head(1)

,alternative_id,availability_date,badges,brand,category,discount,eci_provider,gtin,id,image,media,module_name,name,position,price,quantity,status,store_id,variant,vendor
0,A28233506,NaN,['express_delivery'],Woman Limited El Corte Inglés,"['Moda', 'Mujer', 'Abrigos']",NaN,00000000,2.401700e+12,1060651400131,http://sgfm.elcorteingles.es/SGFM/dctm/MEDIA03...,{'count': 1},NaN,Abrigo masculino con textura de mujer,NaN,"{'final': 199, 'currency': 'EUR'}",1,show_pdp,60,001060651400131002,NaN

In [21]:
columns = ['alternative_id', 'availability_date', 'brand', 'category', 'name', 'price']

In [22]:
data = data[columns]

In [23]:
data.columns = ['item_id', 'availability_date', 'brand', 'category', 'name', 'price']

In [24]:
data.to_csv(path_output + 'data_filtered.csv', index = False, sep = ';')