# Union de las diversas Descargas hechas

Por oprtimizacion se han hecho diversas descargas, algunas de ellas parcialmente superpuestas, por tanto es necesario unirlas y quitar los ids duplicados

In [2]:
import pandas as pd

In [15]:
data1 = pd.read_csv('../01_Comprension_de_Negocio/Output/ProductsV4.csv')
data2 = pd.read_csv('../00_Datos/Productos_Finales/175kProducts_20190311.csv', sep = ';')

C:\Users\Enric\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3020: DtypeWarning: Columns (7,10,13,21) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [6]:
data1.head(2)

,alternative_id,availability_date,badges,brand,category,discount,eci_provider,gtin,id,image,media,module_name,name,position,price,quantity,status,store_id,variant,vendor
0,A17665205,NaN,['express_delivery'],Schleich,"['Juguetes', 'Muñecos articulados', 'Figuras y...",NaN,00000000,4.005086e+12,001002712248919,http://sgfm.elcorteingles.es/SGFM/dctm/MEDIA03...,{'count': 1},NaN,Ternero frisón de manchas negras Schleich,0.0,"{'final': 4.99, 'currency': 'EUR'}",1,add,38,001002712248919,NaN
1,A17665214,NaN,['express_delivery'],Schleich,"['Juguetes', 'Muñecos articulados', 'Figuras y...",NaN,00000000,4.005086e+12,001002712248935,http://sgfm.elcorteingles.es/SGFM/dctm/MEDIA03...,{'count': 1},NaN,Dunkleosteus Schleich,1.0,"{'final': 14.99, 'currency': 'EUR'}",1,add,38,001002712248935,NaN

In [7]:
data2.head(2)

,Unnamed: 0,Unnamed: 0.1,alternative_id,availability_date,badges,brand,category,discount,eci_provider,gtin,...,media,module_name,name,position,price,quantity,status,store_id,variant,vendor
0,0,0.0,A28233506,NaN,['express_delivery'],Woman Limited El Corte Inglés,"['Moda', 'Mujer', 'Abrigos']",NaN,00000000,2.401700e+12,...,{'count': 1},NaN,Abrigo masculino con textura de mujer,NaN,"{'final': 199, 'currency': 'EUR'}",1,show_pdp,60,001060651400131002,NaN
1,1,1.0,A29054782,NaN,['express_delivery'],Woman Limited El Corte Inglés,"['Moda', 'Mujer', 'Abrigos']",NaN,00000000,2.606514e+12,...,{'count': 1},NaN,Abrigo doble faz de mujer con cinturón a tono,NaN,"{'final': 149, 'currency': 'EUR'}",1,show_pdp,60,001060651400180002,NaN

In [19]:
data2 = data2.drop(columns = ['Unnamed: 0', 'Unnamed: 0.1'], axis = 1)
data2.head(2)

,alternative_id,availability_date,badges,brand,category,discount,eci_provider,gtin,id,image,media,module_name,name,position,price,quantity,status,store_id,variant,vendor
0,A28233506,NaN,['express_delivery'],Woman Limited El Corte Inglés,"['Moda', 'Mujer', 'Abrigos']",NaN,00000000,2.401700e+12,1060651400131,http://sgfm.elcorteingles.es/SGFM/dctm/MEDIA03...,{'count': 1},NaN,Abrigo masculino con textura de mujer,NaN,"{'final': 199, 'currency': 'EUR'}",1,show_pdp,60,001060651400131002,NaN
1,A29054782,NaN,['express_delivery'],Woman Limited El Corte Inglés,"['Moda', 'Mujer', 'Abrigos']",NaN,00000000,2.606514e+12,1060651400180,http://sgfm.elcorteingles.es/SGFM/dctm/MEDIA03...,{'count': 1},NaN,Abrigo doble faz de mujer con cinturón a tono,NaN,"{'final': 149, 'currency': 'EUR'}",1,show_pdp,60,001060651400180002,NaN

In [20]:
print (f'Tamaño data1: {data1.shape}, Tamaño data2: {data2.shape}')

Tamaño data1: (40845, 20), Tamaño data2: (175713, 20)

In [21]:
result = pd.concat([data2, data1])
result.shape

(216558, 20)

In [22]:
datos_final = result.drop_duplicates(subset = 'id')
datos_final.shape

(204812, 20)

In [23]:
print (f'Tamaño datos_final: {datos_final.shape}')

Tamaño datos_final: (204812, 20)

In [24]:
datos_final.to_csv('../00_Datos/Productos_Finales/204kProducts_20190315.csv', sep = ';', index=False)