In [1]:
import pandas as pd
import os

In [2]:
path = os.path.join('../../Data/')

In [3]:
print(os.listdir(path + '/Productos_Finales/'))

['.~lock.175kProducts_20190311.csv#', '126kProducts_20190309.csv', '175kProducts_20190311.csv', '204kProducts_20190315.csv', 'desktop.ini']

In [4]:
data = pd.read_csv(path + '/Productos_Finales/204kProducts_20190315.csv', sep = ';')
data.columns

C:\Users\Enric\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3020: DtypeWarning: Columns (5,8,11,18,19) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

Index(['alternative_id', 'availability_date', 'badges', 'brand', 'category',
       'discount', 'eci_provider', 'gtin', 'id', 'image', 'media',
       'module_name', 'name', 'position', 'price', 'quantity', 'status',
       'store_id', 'variant', 'vendor'],
      dtype='object')

In [6]:
data.head(1)

,alternative_id,availability_date,badges,brand,category,discount,eci_provider,gtin,id,image,media,module_name,name,position,price,quantity,status,store_id,variant,vendor
0,A28233506,NaN,['express_delivery'],Woman Limited El Corte Inglés,"['Moda', 'Mujer', 'Abrigos']",NaN,00000000,2.401700e+12,1060651400131,http://sgfm.elcorteingles.es/SGFM/dctm/MEDIA03...,{'count': 1},NaN,Abrigo masculino con textura de mujer,NaN,"{'final': 199, 'currency': 'EUR'}",1,show_pdp,60,001060651400131002,NaN

In [9]:
columns = ['alternative_id', 'availability_date', 'brand', 'category', 'name', 'price']

In [10]:
data = data[columns]

In [11]:
data.columns = ['item_id', 'availability_date', 'brand', 'category', 'name', 'price']

In [13]:
data.to_csv(path + 'data_filtered_20190422.csv', index = False, sep = ';')